.inputLink{width:100%; height:35px}
.inputPassword{width:550px; height:35px}
.inputInfo{width:25%;height:35px}
.loginFont{ font-family:YouYuan}
.btnSubmit{
	width:100px;
	height:35px;
    background:#F97E76;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
	}

.quTable{
    width: 920px;
    border: 1px solid #ccc;
    border-top: 3px solid #F97E76;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
}

.userClass{
    width: 800px;
    border: 1px solid #ccc;
    border-top: 3px solid #F97E76;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
}
.userClassOrder{
    width: 800px;
    border: 1px solid #ccc;
    border-top: 3px solid #F97E76;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
}

.inputStyle{
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:1px 
}

.order_goods_list_bg {
background: #f2f2f2;
height: 36px;
line-height: 36px;
text-align: center;
font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;

}

.member-foot-box {
font-size:0.8em;
text-align: center;
padding: 15px 0px;
font-size: 14px;
font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
color:#696969;
}

.member-foot-box a{
font-size: 14px;
font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
color:#696969;
}
.member-foot-box a:link{
color:#696969;	
}
.member-foot-box a:active{
color:#828282
	
}
.member-foot-box a:visited{
color:#FF6A6A;
}
.member-foot-box a:hover{color:#B5B5B5;}
media="all"
body {
font-size: 14px;
font-family: 'Î¢ÈíÑÅºÚ','ËÎÌå',arial;
background: #FFFFFF;
}
.contact-form-yan table{
	padding:0px  0px  0px   0px;   
	brdor:0px solid#F00;
}
	
.contact-form-yan input[type="text"] {
	display: block;
	width:85%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 0.5em 0;
	font-size: 1em;
	color: #000;
}
.contact-form-yan textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 0.5em 0;
	font-size: 1em;
	color: #000;
	height:300px;
	resize: none;
}
.contact-form-yan input[type="submit"] {
	padding: 5px 10px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:right;
}
.quTable{ 
	
}
.contact-form-yan input[type="reset"] {
	padding: 5px 10px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:right;
}
.contact-form-yan input[type="submit"]:hover{
 	background:#1DBAA5;
}
.contact-form-yan input[type="reset"]:hover{
 	background:#1DBAA5;
}

.contact-form-zeng input[type="text"] {
	display: block;
	width:85%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 0.5em 0;
	margin-left:0.5em;
	font-size: 1em;
	color: #000;
}
.contact-form-zeng input[type="password"] {
	display: block;
	width:85%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 0.5em 0;
	margin-left:0.5em;
	font-size: 1em;
	color: #000;
}
.contact-form-zeng textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 0.5em 0;
	margin-left:0.5em;
	font-size: 1em;
	color: #000;
	height:300px;
	resize: none;
}
.contact-form-zeng input[type="submit"] {
	padding: 5px 10px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:left;
}
.contact-form-zeng input[type="submit"] {
	padding: 5px 10px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:left;
}
.contact-form-zeng input[type="reset"] {
	padding: 5px 10px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:right;
}
.contact-form-zeng input[type="submit"]:hover{
 	background:#1DBAA5;
}
.contact-form-zeng input[type="reset"]:hover{
 	background:#1DBAA5;
}
.contact-form-zeng label {
	font-size: 1.2em;
	padding: 0 0em 0.3em;
	margin: 0.5em 0;
	margin-left:1em;
	font-weight:normal;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
.img_table{
	border: 1px solid #ddd;
}
